.bottom-menu {
    .container {
        border-top: 1px solid $color-gray-1;
        display: flex;
        justify-content: space-around;
        width: 1110px;
        margin-bottom: 3rem;

        .support {
            flex-direction: column;
            text-align: center;
            width: 255px;
            height: 181px;
            margin-top: 4rem;

            h1 {
                font-family: $font-poppins;
                font-weight: $font-weight-bold;
                font-size: 20px;
                margin-top: 1.5rem;
                margin-bottom: 1rem;
            }

            p {
                font-family: $font-poppins;
                font-weight: $font-weight-regular;
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 767px) {
    .bottom-menu {
        .container {
            .support:nth-last-child(odd) {
                display: none;
            }
        }
    }
}

@media (max-width: 576px) {
    .bottom-menu {
        display: flex; 
        align-items: center;
        .container {
            .support {
                &:nth-last-child(odd),
                &:nth-last-child(2) {
                    display: none;
                } 

            }
        }
    }
}