.menu-bar {
    color: $color-dark;
    height: 90px;

    .container {
        height: 100%; /* förhåller sig till height i menu-bar */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        color: $color-theme-dark;
        font-style: $font-poppins;
        font-size: 35px;
        font-weight: $font-weight-extrabold;
        text-decoration: none;
    }

    .menu-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0.4;
        font-weight: $font-weight-regular;
        margin-top: 1rem;

        .menu-link {
            text-decoration: none;
            color: $color-theme-dark;
            margin-left: 1rem;
            transition: all 0.1s ease-in-out;

            &:hover {
                color: $color-theme;
            }
        }

        .active {
            color: $color-theme;
        }
    }

    .btn-light {
        
        .active {
            background-color: transparent;
            color: $color-theme;
        }
    }
}