.shoppingcart {
    width: 400px !important;

    .shoppingcart-item {
        margin: 30px 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .item-image {
            height: 65px;
            width: 65px;
            margin-right: 20px;
            background-color: $color-gray-2;

            img {
                height: 65px;
                width: 65px;
            }
        }
        
        .item-info {
            flex: 3;

            .item-info-name {
                font-weight: 400;
                margin-bottom: 8px;
            }

            span {
                padding: 0 15px;
            }
        }

        .item-price {
            flex: 1;
            text-align: right;
            font-weight: 400;

            button {
                margin-top: 8px;
                background-color: transparent;
                border: none;
                padding: 0;
            }
        }
    }
}

@media (max-width: 994px) {
    .shoppingcart {
        width: 100% !important;
    }
}