.showcase {
    background-color: $color-gray-2;
    padding-top: 30px;

    .container-fluid {
        display: flex; 
        justify-content: space-between;
        align-items: center;

        .main-menu {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                color: $color-theme-dark;
                font-weight: $font-weight-extrabold;
                font-family: $font-poppins;
                font-size: 55px;
                width: 25rem;
                text-align: center;
                margin-bottom: 2rem;
            }

            p {
                color: $color-theme-dark;
                font-weight: $font-weight-regular;
                margin-bottom: 2.5rem;
            }
        }

        .left-img {
            height: 546px;
        }

        .right-img {
            height: 564px;
        }
    }
}


@media (max-width: 1200px) {
        .right-img {
            display: none;
         }
    }

@media (max-width: 993px) {
    .showcase {
        padding-bottom: 2rem;
        
        .container-fluid {
            display: flex;
            justify-content: center;

            .left-img {
                display: none;
            }
        }
    }
}
