.__1-fr {
    flex: 1;
}

:root {
    --color-theme: #FF7373;
    --color-gray-0: #616265;
    --color-gray-1: #BEBEBE;
    --color-gray-2: #F5F5F5;
    --color-white: #FFFFFF;
    --color-dark: #23262A;
    --color-theme-dark: #222529;
    --color-brown: #75695C;

    --font-poppins: 'Poppins', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
}

/*  ------------------- button & general --------------------- */
.btn-light {
    position: relative;
    background-color: var(--color-white);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--color-gray-1);
}

    .btn-light a {
        color: var(--color-theme-dark);
    }
        .btn-light:hover a {
            color: var(--color-theme);
        }

.bg-theme {
    background-color: var(--color-theme);
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-regular);
    font-size: 11px;
}

.btn-red {
    position: relative;
    background-color: var(--color-theme);
    color: var(--color-white);
    font-family: var(--font-poppins);
    font-size: 15px;
    border-radius: 0;
    border: none;
    padding: 0.7rem 2rem 0.7rem 2rem;
    transition: 0.3s ease-in-out;
}  

    .btn-red::before,
    .btn-red::after {      /* allt gällande btn-red::before & btn-red::after är hämtat här (https://stackoverflow.com/questions/60466314/how-to-do-a-partial-border-for-a-button-in-css) */
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
    }
    .btn-red::before {
        left: 0.3rem;
        top: 0.3rem;
        border-left: 2px solid white;
        border-top: 2px solid white;
    }
    .btn-red::after {
        right: 0.3rem;
        bottom: 0.3rem;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
    }

    .btn-red:hover {
        background-color: var(--color-theme-dark);
        color: var(--color-white);
    }

.fa-star {
    color: var(--color-theme);
    margin-bottom: 0.7rem;
}

a {
    font-style: none;
    color: var(--color-theme);
}