.card {
    position: relative;
    height: 323px;
    width: 200px;
    background-color: $color-gray-2;
    border-radius: 0;
    border: none;
    overflow: hidden;

    .card-menu {
        position: absolute;
        top: 101%;
        right: 2%;
        list-style: none;
        margin: auto;
        padding: 0.5rem;
        background-color: none;
        transition: top 0.3s ease-in-out;

        li {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }
    &:hover .card-menu {
        top: 1px;
    }
    
    .card-body {
        position: absolute;
        bottom: 0;
        width: 100%;

        .btn-red {
            position: absolute;
            top: 101%;
            right: 0;
            width: 100%;
            transition: top 0.3s ease-in-out;
        }

        .card-info {
            position: absolute;
            left: 0;
            bottom: 35px;
            width: 100%;
            background-color: white;
            text-align: center;
            margin-bottom: 0;

            .category {
                margin-bottom: 0.5rem;
                left: 38%;
                font-family: $font-poppins;
                font-weight: $font-weight-regular;
                font-size: 12px;
            }

            h1 {
                font-family: $font-poppins;
                font-weight: $font-weight-semibold;
                font-size: 14px;
            }
        }
        .card-price {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            background-color: white;
            font-size: 14px;

            .card-old-price {
                text-decoration: line-through;
            }
        }
    }
    &:hover .card-body .btn-red {
        top: -122px;
    }

    .card-background {
        position: absolute;
        top: 101%;
        width: 100%;
        height: 70%;
        background-color: $color-gray-1;
        z-index: -1;
    }

    &:hover .card-background {
        height: 100%;
    }
}